[Unit]
Description=SpeedtestTrackerBot Service
After=network.target

[Service]
Type=simple

User=pi # The user under which the service should run. Replace 'pi' with the appropriate username.

WorkingDirectory=/path/to/your/project # The working directory for the service. Replace with the actual path to your project directory.

EnvironmentFile=/path/to/your/project/.env # Loads the environment variables. Replace with the actual path to your environment variables.

ExecStart=/usr/bin/node src/index.js

Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target